<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
    <test name="Test">
        <classes>
            <class name="org.example.Selenium1Test"/>
            <class name="org.example.Selenium2Test"/>
            <class name="org.example.Selenium3Test"/>
            <class name="org.example.Selenium4Test"/>
            <class name="org.example.Selenium5Test"/>
            <class name="org.example.Selenium6Test"/>
            <class name="org.example.Selenium7Test"/>
            <class name="org.example.Selenium8Test"/>
            <class name="org.example.CommonTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->